* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
body {
  background-color: #ded4ecdb;
}
::selection {
  color: #fff;
  background: #563d7c;
}
h1 {
  text-align: center;
  margin: 5%;
}
.start-btn,
.info-box,
.quiz-box,
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start-btn button{
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.info-box{
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.info-box .info-title{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}
.info-box .info-list{
  padding: 15px 30px;
}
.info_box .info-list .info{
  margin: 5px 0;
  font-size: 17px;
}
.info-box .info-list .info span{
  font-weight: 600;
  color: #007bff;
}
.info-box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}
.info-box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}
.quiz-box{
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.quiz-box header{
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz-box header .title{
  font-size: 20px;
  font-weight: 600;
}
.quiz-box header .timer{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}
.quiz-box header .timer .time-text{
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}
.quiz-box header .timer .timer-sec{
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}
section{
  padding: 25px 30px 20px 30px;
  background: #fff;
}
section .question-text{
  font-size: 25px;
  font-weight: 600;
}
section .choices-list{
  padding: 20px 0px;
  display: block;   
}
section .choices-list .option{
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .choices-list .option:last-child{
  margin-bottom: 0px;
}
section .choices-list .option:hover{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
section .choices-list .option.correct{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
section .choices-list .option.incorrect{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
section .choices-list .option.disabled{
  pointer-events: none;
}

section .choices-list .option .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.choices-list .option .icon.tick{
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}
.choices-list .option .icon.cross{
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

footer{
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}
footer .total-que span{
  display: flex;
  user-select: none;
}
footer .total-que span p{
  font-weight: 500;
  padding: 0 5px;
}
footer .total-que span p:first-child{
  padding-left: 0px;
}
footer button{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}
footer button:hover{
  background: #0263ca;
}
footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.result-box{
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.result-box .icon{
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}
.result-box .complete-text{
  font-size: 20px;
  font-weight: 500;
}
.result-box .final-score span{
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.result-box .final-score span p{
  padding: 0 4px;
  font-weight: 600;
}
.result-box .buttons{
  display: flex;
  margin: 20px 0;
}
.result-box .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}
.buttons button.restart{
  color: #fff;
  background: #007bff;
}

.buttons button.restart:hover{
  background: #0263ca;
}

.buttons button.quit{
  color: #007bff;
  background: #fff;
}

.buttons button.quit:hover{
  color: #fff;
  background: #007bff;
}








/*
a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
*/